@charset "UTF-8";

/* 回答はここに書いてね */
.main{
  width: 940px;
  background-color: #eff3f4;
  margin: auto;
}

.main__content{
  padding: 20px;
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.main__content:first-child{
  padding-bottom: 0;
}

.main__content:last-child{
  padding-top: 0;
}

.img__left{
float: left;
margin: 0 20px 10px 0;
}

.img__right{
float: right;
margin: 0 0 10px 20px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */
