@charset "UTF-8";

/* 回答はここに書いてね */

/*float*/

.float__content{
  box-sizing: border-box;
  width: 225px;
  font-size: 16px;
  float: left;
  margin-right: 50px;
}

.float__content:last-child{
  margin-right: 0;
}

.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

/*table*/

.table__grand{
  display: table;
}

.table__parent{
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
}

.table__parent:last-child{
  vertical-align: top;
  padding-right: 0;
}

.table__content{
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

/*inline*/

.inline__parent{
  font-size: 0;
}

.inline__content{
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 50px;
}

.inline__content:last-child{
  margin-right: 0;
}
.flex__parent{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__content{
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

/*inline-margin*/

.inline__margin{
  font-size: 0;
}

.inline__part{
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.margin__part{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
}

.inline__margin__text{
  font-size: 16px;
}
/* 回答はここに書いてね */
