@charset "UTF-8";

/* 回答はここに書いてね */


.btn_form :nth-child(2){
  display: inline-block;
  background-color: #00bcd4;
  color: #fff;
  margin: 5px;
  /* cursor: pointer; */
}

.btn_form :nth-child(2):hover{
  cursor: pointer
}

.btn_form :nth-child(3){
  display: inline-block;
  background-color: #ff408f;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.btn_form :nth-child(4){
  display: inline-block;
  background-color: #e5e5e5;
  color: #fff;
  margin: 5px;
  cursor: default;
}

.btn_form :nth-child(5){
  background-color: #fff;
  display: inline-block;
  color: #222;
  margin: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
  cursor: pointer;
}

.small div{
  font-size: 16px;
  border-radius: 3px;
  padding: 0 15px;
  line-height: 26px;
}

.middle div{
  font-size: 20px;
  border-radius: 5px;
  padding: 0 20px;
  line-height: 32px;
}

.large div{
  font-size: 24px;
  border-radius: 7px;
  padding: 0 25px;
  line-height: 38px;
}


input[type="text"], input[type="email"]{
  border: none;
  outline: none;
  background-color: none;
}


input[type="radio"],input[type="checkbox"]{
  display: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}

.send{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.form_parent{
  width: 700px;
  height: 331px;
  background-color: #ECF1F2;
  padding: 20px;
  margin: auto;
}

.main_title{
  position: relative;
  margin-bottom: 20px;
  width: 700px;
  height: 24px;
}

.main_title::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 700px;
  height: 1px;
  background-color: #ccc;
}

.main_title_con{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
}

.main_form{
  width: 700px;
  height: 287px;
  display: flex;
  justify-content: space-between;
}

.right{
  margin-right: 20px
}

.font{
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.must{
  color: #F00;
}

.name, .mail, .phone, .graduate, .gender{
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.name{
  margin: 0;
}

.name_box, .mail_box, .phone_box{
  width: 180px;
  height: 24px;
  line-height: 12px;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #FFF;
}

.name_box:focus, .mail_box:focus, .phone_box:focus, .freeform_box:focus{
  box-shadow:0 0 7px #00bcd4
}

.gender_child{
  width: 180px;
  height: 22px;
}
.point{
  cursor: pointer;
}

.gender_box_child{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender_box_child::before{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 7px;
  content: "";
}

input[type="radio"]:checked +.gender_box_child::after{
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0,-50%);
  width: 8px;
  height: 8px;
  background-color: #00BCD4;
  border-radius: 4px;
  content: "";
}

.graduate_child{
  position: relative;
}

.graduate_child::after{
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-bottom: solid 2px #E5E5E5;
  border-right: solid 2px #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.graduate_box{
  width: 180px;
  height: 22px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  cursor: pointer;
  box-sizing: border-box;
}

.adult{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.adult_box_child{
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.adult_box_child::before{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: solid 1px #ccc;
  content: "";
}

input[type="checkbox"]:checked +.adult_box_child::after{
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: solid 3px #00BCD4;
  border-bottom: solid 3px #00BCD4;
  transform: rotate(45deg);
  content: "";
}
.freeform{
  width: 360px;
  height: 206px;
}

.freeform_box{
  width: 360px;
  height: 183px;
  padding: 10px;
  background-color: #FFF;
  font-size: 12px;
  border-radius: 3px;
}

.send_parents{
  width: 300px;
  height: 26px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.send{
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  color: #FFF;
  background-color: #00BCD4;
  font-size: 16px;
  line-height: 26px;
}

.send:active{
  
  color: #00BCD4;
  background-color: #FFF;
  
}
/* 回答はここに書いてね */
